@import "fonts.css";
@import "animate.css";

:root {
    --accent-color: #d5001c;
    --bg-gray: #f2f3f4;
    --line-gray: #e3e4e4;
    --text-color: rgba(0, 0, 0, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "PorscheNextWCy", Helvetica, Arial, sans-serif;
}

.page {
    flex: 1;
}

.main-header {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 1rem;
}

.logo-line {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.75rem;
}

.logo-line::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--line-gray);
}

.logo {
    display: block;
    width: 123px;
    transform: translateY(17px);
    background: #fff;
}

.logo__img {
    display: block;
    width: 100%;
}

.menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.main-menu {
    display: flex;
    justify-content: flex-start;
}

.main-menu__link {
    display: block;
    padding: .5rem 1.5rem;
    text-decoration: none;
    color: var(--text-color);
}

.main-menu__link:hover {
    color: var(--accent-color);
}

.scene {
    padding: 4rem 1rem 2rem;
    background: var(--bg-gray);
    text-align: center;
}

.car {
    position: relative;
    display: inline-block;
    z-index: 1;
    cursor: pointer;
    transition: filter 1s ease-in-out;
}

.car:hover {
    transition: filter 1s ease-in-out;
    filter: hue-rotate(100deg);
}

.car__body {
    display: block;
    width: 100%;
}

.car__shadow {
    display: block;
    width: 100%;
    position: absolute;
    bottom: calc(-25 * 100% / 204);
    opacity: .75;
    z-index: -1;
}

.car__wheel-front {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    width: calc(120 * 100% / 741);
    height: calc(120 * 100% / 204);
    right: calc(102 * 100% / 741);
    bottom: calc(-18 * 100% / 204);
}

.car__wheel-front-disc,
.car__wheel-front-caliper,
.car__wheel-front-rotor {
    display: block;
    width: 100%;
    position: absolute;
}

.car__wheel-rear {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    width: calc(123 * 100% / 741);
    height: calc(123 * 100% / 204);
    left: calc(94 * 100% / 741);
    bottom: calc(-18 * 100% / 204);
}

.car__wheel-rear-disc,
.car__wheel-rear-caliper,
.car__wheel-rear-rotor {
    display: block;
    width: 100%;
    position: absolute;
}

@keyframes wheel-spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(359.9deg);
    }
}

.wheel-spin {
    animation: wheel-spin 1s linear;
}

@keyframes car-shake {
    0% {
        transform: rotate(0) translateY(0);
    }
    50% {
        transform: rotate(.5deg) translateY(1px);
    }
    100% {
        transform: rotate(0) translateY(0);
    }
}

.car-shake {
    animation: car-shake 1s 2 ease-in-out;
}

.headline {
    text-align: center;
    color: #333;
    font-size: 2rem;
    padding: 1rem;
    font-weight: 100;
}

.models {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.model__main {
    grid-area: 1/1/3/3;
}

.model__item {
    position: relative;
    overflow: hidden;
}

.model__img {
    width: 100%;
    display: block;
    transition: transform .5s ease-in-out;
}

.model__item:hover .model__img {
    transform: scale(1.2);
}

.model__info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(25, 31, 24, .3), rgba(25, 31, 24, 0));
    padding: 1rem 2rem 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.model__name {
    font-size: 3.75rem;
}

.model__price {
    font-size: 1.5rem;
    letter-spacing: 0.025em;
}

.model__price::before {
    content: "от ";
}

.model__price::after {
    content: " руб. вкл. НДС";
}

.btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: .75rem 1.25rem;
    transition: all .5s ease-in-out;
}

.btn-default {
    color: #333;
    background: #fff;
    border: 1px solid #fff;
}

.btn-bordered {
    color: #fff;
    border: 1px solid #fff;
}

.btn-default:hover {
    background: var(--accent-color);
    color: #fff;
    border-color: var(--accent-color);
}

.btn-bordered:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

@media screen and (max-width: 1199.98px) {
    .models {
        grid-template-columns: repeat(2, 1fr);
    }

    .model__main {
        grid-area: 1/1/2/3;
    }
}

@media screen and (max-width: 767.98px) {
    .models {
        grid-template-columns: 1fr;
    }

    .model__main {
        grid-area: 1/1/2/2;
    }
}
